<?php
    global $AprsFiKey;
    # API key of APRS.FI
    $AprsFiKey = 'CHANGE ME!';

    global $TtnApiKey;
    # API key for The Things Network Storage Integration (RIGHT_APPLICATION_TRAFFIC_READ)
    $TtnApiKey = 'CHANGE ME!';
?>
